@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --font-display: "Roboto", sans-serif; 
    --font-sans: "Roboto", sans-serif;
    --font-mono: "Roboto Mono", monospace;
}

@layer base {
    html {
        color-scheme: only dark;
    }

    .bg-primary {
        background-size: 100% 100%;
        background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
        background-image: radial-gradient(18% 28% at 24% 50%, #6DFFAEF5 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #DEDEDE59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #028FA0FF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #E3E3E3FF 7%, #073AFF00 100%),radial-gradient(42% 53% at 33% 73%, #ACACACFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%),linear-gradient(125deg, #6FFF4EFF 1%, #2CFF00FF 100%);
    }

    .typing {
        position: relative;
    }

    .typing::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 0.5em;
        height: 1em;
        background: currentColor;
        @apply animate-pulse;
    }
}